/* CSS for laying a hierarchy using checkboxes */

div.hier-exposed-widget-group {
  float: left;
  width: 45%;
  margin: 2%;
}

div.hier-exposed-root-item {
  background-color: #ddd;
}

div.hier-item {
  margin-left: 10px;
  border 10px solid green;
}